body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-circle {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  background-color: #fff; /* White background */
  
}

.content-circle {
  display: flex;
  align-items: center;
  background-color: #AFDBF5; /* Blue background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px; /* Set the image width */
  height: 300px;
}

.image-container {
  flex-shrink: 0;
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 60%; /* Ensures the image is a perfect circle */
  object-fit: cover;
}
.text-container {
  margin-left: 500px;
  text-align: right;
}

.text-container p {
  margin: 5px 0;
  font-size: 20px;
}
h6  {
  /* Add your styles here */
  font-weight: bold; /* Makes the text bold */
  text-align: left; /* Centers the text horizontally */
  margin: 10px; /* Adds some margin around the element */
  font-size: 20px;
  top: 50px;
}


.points-circle {
  padding: 5px; /* Reduce padding to reduce font size */
  text-align: left;
  border-bottom: 1px solid #fff;
  border: none;
}

.points-value {
  font-size: 24px;
  font-weight: bold;
}

.points-text {
  font-size: 16px;
}
.container img {
  width: 890px; /* Set the image width */
  height: 250px; /* Set the image height */
}

.leaderboard {
  max-width: 61%;
  background-color: #fff;
  padding: 10px; /* Reduce padding to reduce size */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap if they don't fit on one line */
}

.leaderboard h1,
table {
  flex: 1 1 auto; /* Shrink proportionally, have a minimum width of auto */
  margin: 0 10px; /* Add margins for spacing */
}
.year-select{
  align-items: center;

}

table {
  width: 100%; /* Set table width to 100% of its container */
}

table th, table td {
  padding: 5px; /* Reduce padding to reduce font size */
  text-align: left;
  border-bottom: 1px solid #fff;
  border: none;

}
table td {
  padding: 5px; /* Reduce padding to reduce font size */
  text-align: center;
  border-bottom: 1px solid #fff;
  border: none;

}

table th {
  background-color: #fff;
  border: none;

}

table tbody tr:hover {
  background-color: #ddd;
  border: none;

}
.gold-star {
   color: gold; /* This sets the text content color to gold */
 }



